@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  height: 100%;
  padding-bottom: 5rem;
}
html, body, #root {
  height: 100%;
  margin: 0;
}

.side-bar{
 width: 265px;
  overflow: auto;
  text-align: left;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
}
.main-wrapper-user{
  min-height: calc(100vh - 1px);
  width: 100%;
   background-color: rgb(71 85 105 / var(--tw-bg-opacity, 1)) /* #475569 */;
}

.wrapper-user{
  margin-left: 265px;
  width: calc(100% - 265px);
  height: auto;
}
@media screen and (max-width: 700px) {
  .side-bar{
    display: none !important;
  }
}

/* styles/globals.css */
::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(32, 32, 32, 0.596);
  border-radius: 5px;
 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(32, 32, 32, 0.8);
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
