.main-wrapper{
  min-height: calc(100vh - 1px);
  background-color: rgb(228 228 231 / var(--tw-bg-opacity, 1)) /* #e4e4e7 */;
  width: 100%;
}
.side-wrapper{
  overflow: auto;
  background-color: rgb(0 102 102 / var(--tw-bg-opacity, 1)) /* #006666 */;
  background: #006666;
  width: 265px;
  text-align: left;
  height: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
}
.Main-Content-Wrapper{
  margin-left: 265px;
  width: calc(100% - 265px);
  height: auto;
}
.bibb {
        padding: 20px;
        width: 100%;
    }
 
.sidebar-link {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  padding: 8px;
  border-radius: 6px;
  color: var(--pay-color);
}

.sidebar-link:hover {
  background: rgba(255, 255, 255, 0.4);
}

.sidebar-sub-link {
  font-size: 14px;
  padding: 8px;
  border-radius: 6px;
  color: var(--pay-color);
}

.sidebar-sub-link:hover {
  background: rgba(255, 255, 255, 0.4);
}
